<div class="container donations top-m">
    <div class="row">
        <div class="col-lg-6 col-md-12">
           <div class="image-bg">
                <img src="assets/donations/donations.svg" alt="donations">
           </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="donation-right">
                <div class="section-header">

                    <h2>Donations</h2>
                </div>
                <span>
                    Have you ever gifted extreme joy, peace or bliss without a materialistic product?
                    <br />
                    Here is the opportunity to make this happen & transform lives.
                    <br />
                    <span class="highlight">DONATE </span> to Siva Kundalini Sadhana foundation.
                    <br />
                    Pujya Gurudev Sri Jeeveswara Yogi, has been on a mission (since 2017) to teach the Siva Kundalini Sadhana, a powerful yet simple meditation practice for free of cost. This divine wisdom has been offered for free for more than 1 lakh practitioners, who have been experiencing immense joy and bliss. Support Gurudev and his divine mission to transform millions of lives, who are suffering from health, relationship or financial problems and have been looking for a way out.
                    <br />
                    <span class="highlight">
                        Siva Kundalini Sadhana Foundation
                        <br />
                        PhonePe (or) Google Pay : 8125725887
                        <br />
                        SBI Bank Details:
                        <br />
                        A/c No. 00000040244019798
                        <br />
                        Branch : Erragadda
                        <br />
                        IFS Code : SBIN0013272
                    </span>
                </span>
            </div>
            
        </div>
    </div>
</div>