<!-- <div class="container sadhana mt-5">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <h2>
              
                    Siva Kundalini Sadhana
               
            </h2>
            <span>
           
                    The Safest and the most organized form of practicing Kundalini Yoga is being offered in an unique way by Parama Pujya Sree Jeeveswara Yogi. The Sadhana methodology can take us towards self-realization by harnessing the most powerful Kundalini energy and experiencing its manifestations. It is one of the easiest, most practical, very pow erful, result oriented and experiential ways of learning Kundalini Yoga in the presence of a self-realized and experienced Guru.
               
            
            </span>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="d-flex justify-content-center align-items-center">
                <div class="sadhana-right">
                  
                </div>
            </div>
            
        </div>
    </div>
</div> -->

<div class="container about-course">
    <div class="row">
        <div class="section-header">
            <div class="d-flex align-items-center flex-column">
                <h2>
                    About Course
                </h2>
                <p >There are 7 Levels in total for the course. First 4 levels are offered online by Pujya Gurudev. From Level 5 onwards the course is offered under direct supervision of Pujya Gurudev Sree Jeeveswara Yogi in Siva Kundalini Ashram.</p>
            </div>
        </div>
    </div>
   
    <div class="row">
        <div class="bottom-section">
            <div class="bg">
                <img src="assets/about/about-bg.svg" alt="about-bg" />
            </div>
        </div>
          <div class="col-6">
            <div class="about-card">
                <div class="card">
                    <div class="header">
                        <div>
                            <img src="assets/about/header.svg" alt="">
                        </div>
                    </div>
                    <div class="body"></div>
                </div>
            </div>
          </div>
          <div class="col-6">2</div>
          <div class="col-6">3</div>
          <div class="col-6">4</div>
    </div>
</div>
