<div class="container about-course top-m">
    <div class="row">
        <div class="section-header">
            <div class="d-flex align-items-center flex-column">
                <h2>
                    About Course
                </h2>
                <p >There are 7 Levels in total for the course. First 4 levels are offered online by Pujya Gurudev. From Level 5 onwards the course is offered under direct supervision of Pujya Gurudev Sree Jeeveswara Yogi in Siva Kundalini Ashram.</p>
            </div>
        </div>
    </div>
   
    <div class="row">
        <div class="bottom-section">
            <div class="bg">
                <img src="assets/about/about-bg.svg" alt="about-bg" />
            </div>
        </div>
          <div class="col-lg-6 col-md-12">
            <div class="about-card">
                <div class="card">
                    <div class="header">
                        <div class="img-right-top">
                            <img src="assets/about/header.svg" alt="">
                        </div>
                        <div class="tittle">
                            Level-1
                        </div>
                    </div>
                    <div class="body">
                        <div class="line right">
                            <div class="scanner"></div>
                        </div>
                        <div class="inner">
                            <div class="tittle">Brahma Randra Opening</div>
                            <div class="contant">
                                In this level, you will learn how to open Brahma randhra. The moment it opens, the Cosmic Energy enters into the body and awakens the Kundalini. Then Kundalini Energy along with Cosmic Energy heals at all levels including physically, psychologically, and spiritually.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="about-card">
                <div class="card">
                    <div class="header">
                        <div class="img-right-top">
                            <img src="assets/about/header.svg" alt="">
                        </div>
                        <div class="tittle">
                            Level-2
                        </div>
                    </div>
                    <div class="body">
                        <div class="line right">
                            <div class="scanner"></div>
                        </div>
                        <div class="inner">
                            <div class="tittle">Awakening the Sushumna Nadi</div>
                            <div class="contant">
                                Of total 72,000 Nadis in our body, three Nadis are of great importance, they are Ida, Pingala and Sushumna. Sushumna Nadi has 3 sub-nadis, they are Vajrini, Chitrini, and Brahma Nadi. Entering into the Brahma Nadi of Sushumna is of great importance in Kundalini Yoga. In this Level, you will learn how to awaken that.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="about-card">
                <div class="card">
                    <div class="header">
                        <div class="img-right-top">
                            <img src="assets/about/header.svg" alt="">
                        </div>
                        <div class="tittle">
                            Level-3
                        </div>
                    </div>
                    <div class="body">
                        <div class="line right">
                            <div class="scanner"></div>
                        </div>
                        <div class="inner">
                            <div class="tittle">Awakening and Cleansing of 7 Chakras</div>
                            <div class="contant">
                                Of total 114 Chakras in our body, 7 Chakras are very important. They are Mooladhara, Swadhishtha, Manipooraka, Anahata, Vishuddi, Ajna, and Sahasrara. In this Level, you will learn how to awaken and cleanse all these Chakras.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="about-card">
                <div class="card">
                    <div class="header">
                        <div class="img-right-top">
                            <img src="assets/about/header.svg" alt="">
                        </div>
                        <div class="tittle">
                            Level-4
                        </div>
                    </div>
                    <div class="body">
                        <div class="line right">
                            <div class="scanner"></div>
                        </div>
                        <div class="inner">
                            <div class="tittle">Moving the awakened Kundalini Energy from Mooladhara to Sahasrara</div>
                            <div class="contant">
                                In this level, you will learn how to move the awakened Kundalini Energy from Mooladhara to Sahasrara to unlock the true potential of Human life.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
    </div>
</div>
