:root {
    --primaryColorText: #1B6AF4;
    --white: #ffffff;
  
  
    --cardHeaderFont: 18px;
    --cardHeaderSizeWeight: 600;
    // --cardHeaderColor: #030B19;
    --cardHeaderColor: #4c4c4c;
  
    --cardeMainFont: 24px;
    --cardeMainWeight: 500;
  
  
    --cardSubFont: 16px;
    --cardSubWeight: 500;
  
    --cardTextFont: 12px;
    --cardTexteWeight: 500;
    // --cardTextColor: #B9BDC7;
    --cardTextColor: #737375;
  
    
  }
  body {
    // background-color: #1b6af4;
      background-color: #fafafa;
      font-family: 'Montserrat', sans-serif;
  }