@import "./variables.scss";

html, body{
    background-color: $base-color;
    font-family: $inter;
    font-weight: 400;
    color: #fff;
}
header{
    background-color: transparent;
}
.top-m{
    margin-top: 200px;
    margin-top: 200px;
}
.section-header{
    h2{
        font-size: $headerFontSize;
        font-weight: $headerFontWeight7;
        
    }
}

.sadhana .section-header h2, 
.about-course .section-header h2, 
.testimonials .section-header h2, 
.donations .section-header h2, 
.footer .section-header h2{
    background: $headerFontColor2;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 50px;
}


