@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


// $base-color: #202020;
$base-color: #000000;
$donations-bg-color: #ff3d00;
$defaultFontColor: #ffffff;


$gold: #D2A470;


$inter: 'Inter', sans-serif;

$headerFontSize-tab: 50px;

$headerFontSize: 70px;
$headerFontWeight6: 600;
$headerFontWeight7: 700;

$headerFontColor1: linear-gradient(40deg, rgba(204,81,214,1) 0%, rgba(90,104,232,0.6) 40%, rgba(225,177,255,1) 67%);
$headerFontColor2: linear-gradient(135deg, rgba(235,192,143,1) 13%, rgba(125,70,8,1) 89%);

$contentFontSize: 15px;
$contentFontSize2: 18px;

$contentFontWeight: 400;
$contentFontWeight2: 600;
$contentFontColor: rgba(255,255,255,0.7);
$contentFontColor2: rgba(255,255,255,0.5);
// $contentFontGrayColor: rgba(255,255,255,0.7);

$testimonalsFontSize: 30px;
$testimonalsFontColor: rgba(255,255,255,0.8);

$linehight : 1.9;

$cardHeaderHeight: 90px